@model object
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <div>
            @Html.RouteLink("LINK", "Paging", new { });
            @Html.RouteLink("Edit Carrier", "Paging", new { controller = "Base", action = "Index" })






        </div>
        </div>
</body>
</html>
